<html>
    <head>
        <title>Todo List</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form method="POST">
                <input type="text" name="item" placeholder="Add new item..." required />
                <button type="submit"> Add Item</button>
            </form>
            <ul>
               <% for(let i=0; i<todo.length; i++) { %>
                <li><%= todo[i].item %></li>
                <% } %>
            </ul>
        </div>
        <!-- jQuery first -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Your JS file after jQuery -->
    <script src="/assets/todo-list.js"></script>
    </body>
</html>
